<table class="table">
    <tbody>
        <tr>
            <!--<th scope="row">1</th>-->
            <td>Диагональ</td>
            <td>{{ product.diagonal }}</td>
        </tr>
		<tr>
            <!--<th scope="row">2</th>-->
            <td>Тип дисплея</td>
            <td>{{ product.display_type }}</td>
        </tr>
		<tr>
            <!--<th scope="row">3</th>-->
            <td>Разрешение экрана</td>
            <td>{{ product.resolution }}</td>
        </tr>
		<tr>
            <!--<th scope="row">4</th>-->
            <td>Заряд аккумулятора</td>
            <td>{{ product.accum_volume }}</td>
        </tr>
		<tr>
            <!--<th scope="row">5</th>-->
            <td>Оперативная память</td>
            <td>{{ product.ram }}</td>
        </tr>
		<tr>
            <!--<th scope="row">6</th>-->
            <td>Наличие слота для SD-карты</td>
            <td>{{ product.sd }}</td>
        </tr>
		<tr>
            <!--<th scope="row">6</th>-->
            <td>Максимальный объём встраиваемой памяти</td>
            <td>{{ product.sd_volume_max }}</td>
        </tr>
		<tr>
            <!--<th scope="row">6</th>-->
            <td>Главная камера</td>
            <td>{{ product.main_cam_mp }}</td>
        </tr>
		<tr>
            <!--<th scope="row">6</th>-->
            <td>Фронтальная камера</td>
            <td>{{ product.frontal_cam_mp }}</td>
        </tr>
    </tbody>
</table>